nav#menu {
	background: #255180;
}
nav#menu div {
	height: 20vw;
	font-size: 3vw;
	padding: 3vw;
}
nav#menu div a {
	display: block;
	height: 100%;
	text-align: center;
	color: #052443;
}
nav#menu div a img {
	display: block;
	width: 40%;
	margin: auto;
}
nav#menu div a.img span {
	display: block;
}
nav#menu div.active a {
	color: white;
}
