<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}BetGame{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body>
		<h1>{{ self.title() }}</h1>

		{% for message in get_flashed_messages() %}
			<div class="flash">{{message}}</div>
		{% endfor %}

		{% block body %}{% endblock %}

		<nav id="menu" class="row-fluid">
		{% for endpoint, name in [
			('bets', 'Bets'),
			('leaderboard', 'Leaderboard'),
			('challenges', 'Challenges'),
			('profile', 'Profile'),
		] %}
			<a href="{{ url_for(endpoint) }}" class="col-md-4 {{ endpoint }}{% if endpoint == request.endpoint %} active{% endif %}">{{name}}</a>
		{% endfor %}
		</nav>
	</body>
</html>
